body {
    width: 1000px;
    margin: 0 auto;
}

h1 {
    text-transform: capitalize;
}

.btn {
    background: blue;
    color: white;
    width: 60px;
    height: 40px;
    border-radius: 5px;
    border: none;
}

p {
    font-weight: bold;
}

div {
    background: blue;
    width: 50%;
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin-top: 10px;
}

div>p {
    font-size: medium;
    font-style: italic;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}